<form [formGroup]="addLightForm" (ngSubmit)="onSubmit(addLightForm.value)">


    <div>
        <label for="color">
          color
        </label>
        <input id="color" type="text" formControlName="color">
    </div>
    <div >
        <label for="state" *ngIf="!light">
            state(on/off)
          </label>
        <input id="state" formControlName="state" type="checkbox" *ngIf="!light">
    </div>

    <button class="button" type="submit">{{ !light ? 'add':'update'}}</button>
  
</form>

<a routerLink="/" routerLinkActive="active" *ngIf="!light" >home</a>

